<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | ChefBrico</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Schema Global -->
    {% if schema %}
    <script type="application/ld+json">
        {{ schema | safe }}
    </script>
    {% endif %}

    <!-- O Porteiro do Netlify Identity -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
    <!-- Puxa o Cabeçalho -->
    {% include "header.njk" %}
    
    <!-- Aqui entra o conteúdo de cada página -->
    {{ content | safe }}
    
    <!-- Puxa o Rodapé -->
    {% include "footer.njk" %}
    
    <script src="/js/script.js"></script>

    <!-- Lógica de Redirecionamento do Login -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
</body>
</html>
