<footer>
    <div class="container footer-grid">
        <div>
            <h4>Navegação</h4>
            <a href="/">Início</a>
            <a href="/comida-de-verdade/">Comida de Verdade</a>
            <a href="/receitas/">Receitas</a>
            <a href="/chefbox/">ChefBox</a>
            <a href="/clube/">ChefBrico Club</a>
            <a href="/faq/">FAQ</a>
        </div>
        <div>
            <h4>Nossos Produtos</h4>
            <a href="/receitas/risotos/">Risotos</a>
            <a href="/receitas/sopas-funcionais/">Sopas Funcionais</a>
            <a href="/receitas/refeicoes-integrais/">Refeições Integrais</a>
            <a href="/receitas/emporio-da-chef/">Empório da Chef</a>
        </div>
        <div>
            <h4>Ajuda & Suporte</h4>
            <a href="/onde-encontrar/">Onde Encontrar</a>
            <a href="https://www.chefbrico.com/como-comprar" target="_blank" rel="noopener noreferrer">Como Comprar na Loja</a>
            <a href="https://www.chefbrico.com/trocas-e-devolucoes" target="_blank" rel="noopener noreferrer">Trocas e Devoluções</a>
            <a href="https://wa.me/5561996659880" target="_blank" rel="noopener noreferrer">Contato</a>
        </div>
        <div>
            <h4>Redes Sociais</h4>
            <a href="https://www.instagram.com/chefbrico/" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://br.pinterest.com/chefbrico/" target="_blank" rel="noopener noreferrer">Pinterest</a>
        </div>
    </div>
    <div class="container footer-credit">
        <p>© 2025 ChefBrico - Todos os direitos reservados.</p>
        <p> Maria Conceição | CNPJ: 36.014.833/0001-59 </p>
    </div>
</footer>

