---
permalink: /feed_merchant.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
<channel>
<title>ChefBrico | Club Gourmet Prático (DF)</title>
<link>https://gourmetpratico.com.br</link>
<description>Entrega exclusiva no Distrito Federal. Único Kit ChefBox VIP por R$ 132,00 com 5 sabores autorais.</description>

<item>
    <g:id>CHEFBOX-VIP-KIT5-DF</g:id>
    <g:title>ChefBox VIP: Kit 5 Refeições Gourmet (Pague 4, Ganhe o 5º de Presente) - Exclusivo DF</g:title>
    
    <g:description>
        OFERTA MESTRA BRASÍLIA: Solução definitiva para o jantar da semana com o Método Gourmet Prático da Chef Maria Conceição (Prêmio Sebrae). 
        Você seleciona 5 sabores autorais entre Risotos, Sopas e Refeições Integrais e o 5º item é um PRESENTE.
        
        PILARES DO MÉTODO:
        1. Despensa Inteligente: Validade de 6 a 12 meses, sem conservantes.
        2. Panela Única: Pronto em 18 minutos, suja apenas um utensílio.
        3. Cozinha Criativa: Base premium para seu toque final de Chef.
        
        Logística: Entrega Grátis em todo o DF (D+1). Participação automática no Club Gourmet Prático.
    </g:description>

    <g:link>https://gourmetpratico.com.br/chefbox/?utm_source=google_merchant&amp;utm_medium=organic&amp;utm_campaign=chefbox_vip_132</g:link>
    <g:image_link>https://gourmetpratico.com.br/imagens/maria-conceicao-chefbrico-laranja.png</g:image_link>
    <g:brand>ChefBrico</g:brand>
    <g:condition>new</g:condition>

    <g:price>132.00 BRL</g:price>
    <g:availability>in_stock</g:availability>

    <g:google_product_category>5814</g:google_product_category>
    <g:product_type>Alimentos > Kits de Refeição > Gourmet Prático</g:product_type>
    
    <g:identifier_exists>no</g:identifier_exists> 
    <g:is_bundle>yes</g:is_bundle>
    <g:multipack>5</g:multipack>

    <g:product_highlight>Pague 4 e leve 5: O 5º sabor é um presente da Chef.</g:product_highlight>
    <g:product_highlight>Método Gourmet Prático: Jantar saudável pronto em 18 minutos.</g:product_highlight>
    <g:product_highlight>Despensa Inteligente: Longa validade (até 1 ano) sem refrigeração.</g:product_highlight>
    <g:product_highlight>Entrega Grátis em Brasília: Atendimento em todo o DF.</g:product_highlight>

    <g:product_detail>
        <g:section_name>Metodologia</g:section_name>
        <g:attribute_name>Criadora</g:attribute_name>
        <g:attribute_value>Chef Maria Conceição (Prêmio Sebrae)</g:attribute_value>
    </g:product_detail>
    <g:product_detail>
        <g:section_name>Saúde</g:section_name>
        <g:attribute_name>Estilo</g:attribute_name>
        <g:attribute_value>Clean Label, Sem Conservantes, Opções Veganas e Sem Glúten</g:attribute_value>
    </g:product_detail>

    <g:shipping_label>Local_Delivery_DF</g:shipping_label>
    <g:custom_label_0>Empreendedorismo Feminino</g:custom_label_0>
    <g:custom_label_1>Prêmio Sebrae 2023</g:custom_label_1>

    <g:shipping>
        <g:country>BR</g:country>
        <g:region>Distrito Federal</g:region>
        <g:service>Motoboy Express ChefBrico</g:service>
        <g:price>0.00 BRL</g:price>
    </g:shipping>
</item>
</channel>
</rss>
