---
permalink: /feed_merchant.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
<channel>
<title>ChefBrico Ofertas (DF)</title>
<link>https://gourmetpratico.com.br</link>
<description>Entrega exclusiva Distrito Federal. Kit ChefBox R$ 132,00.</description>

<item>
    <g:id>CHEFBOX-KIT-5-SABORES-DF</g:id>
    <g:title>ChefBox: Kit 5 Refeições Gourmet (Pague 4 Leve 5) - Entrega DF</g:title>
    
    <g:description>
        OFERTA ÚNICA BRASÍLIA: 5 Refeições Gourmet por R$ 132,00 (R$ 26,40/prato).
        REGRA 4+1: Você escolhe 5 sabores, o 5º é PRESENTE.
        
        DETALHES:
        - Método Gourmet Prático (Desidratado).
        - Pronto em 18 minutos (Panela Única).
        - Validade: 6 a 12 meses na despensa.
        - Frete Grátis para todo o DF (Entrega D+1).
        
        Ideal para garantir o jantar saudável da semana.
    </g:description>

    <g:link>https://gourmetpratico.com.br/chefbox/?utm_source=google_shopping&amp;utm_medium=cpc&amp;utm_campaign=kit_132</g:link>
    <g:image_link>https://gourmetpratico.com.br/imagens/maria-conceicao-chefbrico-laranja.png</g:image_link>

    <g:price>132.00 BRL</g:price>
    <g:availability>in_stock</g:availability>
    <g:condition>new</g:condition>

    <g:google_product_category>5814</g:google_product_category>
    <g:product_type>Alimentos > Kits de Refeição</g:product_type>

    <g:identifier_exists>no</g:identifier_exists> 
    <g:is_bundle>yes</g:is_bundle>
    
    <g:shipping_label>Local_Delivery_DF</g:shipping_label>
    <g:custom_label_0>Promoção R$ 132</g:custom_label_0>
    <g:custom_label_1>DF Only</g:custom_label_1>

    <g:shipping>
        <g:country>BR</g:country>
        <g:region>Distrito Federal</g:region>
        <g:service>Motoboy D+1</g:service>
        <g:price>0.00 BRL</g:price>
    </g:shipping>
</item>

</channel>
</rss>
